body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
}

h1 {
    background-color: #1F2937;
    color: white;
    font-size: 48px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.container {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #e5e7eb;
}

.settings-buttons, .color-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}

.settings, .color {
    padding: 2em;
    text-align: center;
}


.square {
    display: flex;
    flex: 1;
    background-color: rgb(0,0,0,0);
}

.square-border {
    border-top: solid;
    border-left: solid;
    border-width: thin;
}

.grid-border {
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
}

.row {
    display: flex;
    flex: 1;
}


.grid {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: white;
    margin-top: 2em;
}


button {
    padding: 7px 16px;
    font-size: 16px;
    color: #E5E7EB;
    font-weight: 700;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    transition: all .07s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

